<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="/admin/dashbord.css" rel="stylesheet"> 
</head>
<body>
    <div class="sidebar">
        <h2>Admin Dashboard</h2>
        <a href="/admin/dashboard">Dashboard</a>
        <a href="/admin/userManagement">Manage Users</a>
        <a href="/admin/CategoryManagement">Category Management</a>
        <a href="/admin/productManagement">product Management</a>
        <a href="/admin/logout">Logout</a>
    </div>
    <div class="content">
       <div>
           <h1 class="heading">
               DASHBOARD
           </h1>
       </div>
        <div class="section">
            <center><h2>MD-FURNITURE</h2></center>
            <p>"LET’S ACHIEVE OUR DREAM"</p>
        </div>

    </div>
     
</body>
</html>
