<%-include("../../views/partials/user/top")%>
    <div class="error-container">
        <div class="error-code">400</div>
        <div class="error-message">Bad Request</div>
        <div class="error-description">
            Please login or
The server could not understand the request due to invalid syntax. Please check your input and try again.
        </div>
        <a  class="a" href="/user/home">Go Back to Homepage</a>
    </div>
    <%-include("../../views/partials/user/footer")%>