<%-include("../../views/partials/user/top")%>
    <div class="error-container">
        <div class="error-code">400</div>
        <div class="error-message">Bad Request</div>
        <div class="error-description">
            The server could not understand the request due to invalid syntax. Please check your input and try again.
        </div>
        <a  class="a" href="/">Go Back to Homepage</a>
    </div>
    <%-include("../../views/partials/user/footer")%>